.header {
  background-color: #039deb;
  padding: 10px 15px 5px 20px;
}

.header h1,
.header h1 a,
.header h1 a:visited {
  color: white;
}

a, .menu a, .menu a:visited {
  color: #039deb;
}

.button, .button:visited {
  background: #039deb;
  border:#039deb;
}