body {
  background: #039deb;
}

h1 small {
  font-size: 51%;
}

.title {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron {
   text-align: center;
   background-color: white;
   border: 1px solid #e3e3e3;
 }

.well {
  text-align: center;
  background-color: white;
}

@media (min-width: 768px) {
  .getting-started {
    margin-right: 0;
    margin-left: 0;
    background-color: #fff;
    border-color: #ddd;
    border-width: 1px;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

.jumbotron img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.getting-started {
  position: relative;
  padding: 45px 15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
  box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
}

.getting-started:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Getting Started";
}