<div id="run-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p><b><%= nut %></b> is now running</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok-button"
                        data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>

<div id="run-modal-fail" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <p><b><%= nut %></b> did not start. Please check the connection to your
                    Esquilo.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary ok-button"
                        data-dismiss="modal">Ok
                </button>
            </div>
        </div>
    </div>
</div>